* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Corrected value */
    font-family: sans-serif;
}

.container {
    height: 100vh; 
    width: 100%; 
    position: relative;
    background: url(background.png); /* Changed background image */
    display: flex;
    flex-direction: column;
    background-size: cover; /* Ensures the background covers the entire container */
    background-position: center; /* Centers the background */
}

header {
    padding: 15px 20px;
    margin-bottom: 20px; 
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 25px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    margin-right: auto; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-1 {
    padding: 15px 20px;
    margin-bottom: 20px; 
}

.section-1 .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent; 
    border-radius: 5px;
    background-color: #007bff;
    color: #fff; 
}

.section-2 {
    width: 35%; /* Augmenter légèrement la largeur pour déplacer l'image vers la droite */
    margin-left: auto; /* Garder l'image légèrement à droite */
}

.section-2 img {
    width: 60%; /* Augmenter légèrement la largeur de l'image */
    border-radius: 20px;
    margin-left: 10%; /* Déplacer l'image encore un peu plus vers la droite */
}


.section-3 {
    text-align: center;
    margin: 5px;
    font-size: 17px; /* Augmenter légèrement la taille de la police */
    list-style: none;
    padding: 0;
    margin-top: 10px; /* Déplacer la section vers le haut */
    display: flex;
    justify-content: flex-start; /* Déplacer vers la gauche */
    align-items: center; /* Centrer verticalement */
}

.section-3 img {
    width: 40px; /* Augmenter légèrement la taille des icônes */
    margin: 3px  10px; /* Ajouter un espace entre les icônes */
}



.footer-links {
   
    
}
